{{set . "title" "Dashboard | Modul Pembayaran Anargya Media"}}
{{template "header.html" .}}

<!--Navbar-->
<div class="ui stackable menu">
    <div class="item">
        <h3>
            <a href="/" style="color: #C13E58;">KIOS AMPM</a>
        </h3>
    </div>

    <div class="right menu">
        <a class="item" style="color: #6C7A89;">{{.session.username}}</a>
        <a class="item" style="color: #6C7A89;" href="/logout">Keluar</a>
    </div>
</div>



<!--Footer-->
<div class="ui grid center aligned" style="padding: 2em;">
    <a href="http://anargya.com/" target="_blank" style="color:#C13E58;">
        © 2016 PT. Anargya Media Indonesia
    </a>
</div>

{{template "footer.html" .}}